<%= form_with(model: @board, local: true, class: "ui form") do |f| %>
  <div class="field">
    <%= f.label :board_title %>
    <%= f.text_field :board_title, class: "input" %>
  </div>
 <%= f.submit nil, class: "ui blue button" %>
<% end %>