<h2>Hello <%= current_user.first_name %></h2><h1> Welcome to Trollo Boards </h1>
<h3>Click a Board To View Content</h3>
<%= link_to 'Create a new board', new_board_path %>
<ul>
  <% @boards.each do |board| %>
    <li><%= link_to board.name, board %></li>
  <% end %>
</ul>